spring:
  application:
    name: projetoFlap

  datasource:
    url: jdbc:postgresql://ep-soft-surf-act1zyxs-pooler.sa-east-1.aws.neon.tech/neondb
    username: neondb_owner
    password: npg_0ghqTlEo7AdK
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - email
              - profile
        provider:
          google:
            issuer-uri: https://accounts.google.com

  mail:
    host: smtp.gmail.com
    port: 587
    username: squad04flapdigital@gmail.com
    password: ${GOOGLE_EMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  flyway:
    enabled: true
    locations:
      classpath: db/migration

api:
  security:
    jwt:
      secret: ${JWT_SECRET:default-key}