name: Build and Deploy to Develop EC2

on:
  push:
    branches: [develop]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Configure Java
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'maven'

      - name: Build Project
        run: mvn clean package

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "target/projetoFlap-0.0.1-SNAPSHOT.jar"
          target: "/home/ec2-user/"

      - name: Deploy & Restart Application on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script : |
            sudo mv /home/ec2-user/target/*.jar /opt/flap-app/
            sudo chown ec2-user:ec2-user /opt/flap-app/*.jar
            sudo systemctl restart flap-app.service
            sudo systemctl status flap-app.service --no-pager
